<html>
<head>
	{{>head}}
</head>

<body >
	<div class="container">
		<!-- this part is navigation -->
		<nav class="navbar"> <!-- navbar-fixed-top -->
			<div class='container '> <!-- //page-header -->

				<div class="navbar-header">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				     </button>
					 <a class="navbar-brand " href="/"  >  &nbsp Celebrity and Brand </a>
				</div>

				<div class="navbar-collapse collapse">
				     	<ul class="nav navbar-nav">
					        <li id = 'celebrity'><a href="/celebrity">celebrity</a></li>
					        <li><a href="/brand">brand</a></li>
				     	</ul>
				    	 <form class="navbar-form navbar-right">
				        	<input type="text" class="form-control" placeholder="搜索...">
				     	</form>
	    		</div>

			</div>
		</nav>
		<hr/>

		<!-- this part is celebrity list -->


		<div class="container ">
			<div id = celebrityList class="celebrityList">
<!-- 				<p><a id = "002" onclick = "celebrityDirect(this)">D&G</a></p> -->
				{{#each celeList}}

				<h3>{{celebrityName}}</h3>
			
				{{/each}}


			</div>

		</div>

		{{>footer}}

	</div>
 <script>


// </script>


</body>
</html>