body{
/*  padding-top: 160px;*/
}


.contentList {
/*  padding-top: 160px;*/
margin: 50px;
}

.navbar {
	margin-top: 20px;
}

.navbar-brand {
	font-size: 25px;
	font-family: palatino;/*helvitica*/
}

nav li{
	font-size: 20px;
	font-family: palatino;/*helvitica*/
}


#brand{
	font-weight: bold;
}


.brandList {
/*  padding-top: 160px;*/
margin: 50px;
text-align: center;

}


#celebrity{
	font-weight: bold;
}


.celebrityTitle{
	margin-left: 100px;
	margin-bottom: 50px;
	text-align: center;

}
.celebrityList {
	margin-top: 50px;
	text-align: center;
}

.celebrity-brand-list{
	text-align: left;
	margin-top: 50px;
}

.celebrityNameTitle{
	text-align: center;
/*	width:400px;*/

}

.labelList1 a{
/*	margin-left: 3px;*/
	color: black;

}

.labelList1 a:hover{

	color: #337ab7;

}

footer{
	margin-top: 30px;
	text-align: right;
	color: gray;
	display: none;
}

#addArea{
/*	height:30px;
	width:60px;	*/
	text-align:right;
	vertical-align: center;

}

#addAreaFull{
margin-top: 30px;


}

#celebrityinput,#esseyInput,#urlInput {
	margin-bottom: 10px;
}

#addForm{


		width: 200px;

}

#addFormDiv{

	position: absolute;
	right: 150px;

/*	right:15px;*/
	width:220px;
	height: 200px;
	border: 1px solid #f6f6f6;

}

#addFormDiv1{

	position: absolute;

	right: 150px;
	top:150px;

/*	right:15px;*/
	width:220px;
	height: 250px;
	border: 1px solid #f6f6f6;

}

#addButton{
	cursor:pointer;
	text-decoration:none;
}

#cancelAdd{
	vertical-align:bottom;
	margin-left:2px;
}

.alert{
	color: blue;
	text-align: center;
}

#login_register{
/*		vertical-align: middle;
		text-align: center;*/
/*		position: absolute;*/
/*    	top: 50%;*/

/*		line-height: 300%;*/
/*		line-height: 300%;*/

            line-height:300%;






}

}






